<!-- 班級:資管二A        -->
<!-- 學號:411017365      -->
<!-- 姓名:張佳慧         -->

<html>
    <head>
        <meta charset="utf-8" />
	    <title>個人網站架構</title>
    </head>
	
    <body>
	<body background="https://www1.pu.edu.tw/~s1101736/CSP/11.jpg">
    <h1 align="middle">個人網站架構</h1><hr>
	
	<table border="0" align="right">
	<tr>
       <td><img src="https://www1.pu.edu.tw/~s1101736/CSP/0623.jpg" width="300" height="375" > 
	   
	<tr>   
	   <td><audio src="https://www1.pu.edu.tw/~s1101736/CSP/music.mp3" autoplay controls loop</audio>
	
	</table>
	
	<table border="0" align="left">　　	
      <tr>	
	    <ul>
	       <td><li><a href="https://www1.pu.edu.tw/~s1101736/abouta/me.html">自傳履歷</a></li>
		   <td>　　　　
		   <td>　　　　
		   <td>　　
	    </ul>
		
    <tr>
	    <ul>
		   <td><li><a href="http://www1.pu.edu.tw/~s1101736/abouta/work.html">工作內容</a></li>
		   <td>　　　　
		   <td>　　　　
		   <td>　　　　
		</ul>
	
	<tr>
	    <ul>
		   <td><li><a href="http://www1.pu.edu.tw/~s1101736/abouta/future.html">未來規劃</a></li>
		   <td>　　　　
		   <td>　　　　
		   <td>　　　　
		   <td>　　　　
		</ul>
	</table>
    
	<table border="0" align="middle">
	<tr>
	    <td colspan="5">　　　　
	    <th><h2>班級:資管二A</h2>
		
	<tr>
	    <td colspan="5">　　　　
		<th><h2>學號:411017365</h2>
		
	<tr>
	    <td colspan="5">　　　　
		<th><h2>姓名:張佳慧</h2>
	</table>
	
    </body>
</html>
