
<!-- 班級:資管二A        -->
<!-- 學號:411017365      -->
<!-- 姓名:張佳慧         -->

<html>
    <head>
	    <meta charset="utf-8" />
	    <title>張佳慧的網頁</title>
	</head>
	<body>
	    <body background="https://www1.pu.edu.tw/~s1101736/CSP/3.jpg">
		<span style="color:orange:"><h1 align="center">我的網頁介紹</h1></span>
	    <img src="https://www1.pu.edu.tw/~s1101736/CSP/0623.jpg" width="300" height="375" align="right"> <hr>
		<p><h2><font color="green">自我介紹</font></h2></P>
	    <p align="left">　　我來自高雄的張佳慧，目前就讀靜宜大學資管系。個性內向、敏感，且興趣是玩樂器、聽歌，玩過的樂器有直笛<br>、中國笛、笙、長笛等等。</p><hr>
		<p><h2><font color="green">家庭背景</font></h2></P>
        <p align="left">　　由於家中只有我一位女兒。因此，為了培養出我的態度，媽媽、爸爸總是告訴我:
		<font color="red">「人要持之以恆，不能半途而廢<br>。」</font>
		，因此現在的我對於任何事情
		，一定會秉持著做到最好的精神。就像是參與任何競賽，一旦下定決心便絕對不辜<br>負自己。當肩負一定的責任時，我便會每天不間斷的練習，永不放棄，獲得最佳的成果。</p><hr>
		<p><h2><font color="green">適合這份工作</font></h2></P>
        <p align="left"> 自己對於軟體相關都很有興趣，並且自己在這方面也願意花時間去做。自己具備有耐心，愛實作等等特點，也非常喜愛寫程式，每每只要寫出困難的題目時，就會得到極大的成就感，這也是我想追求的，我相信我一定能勝任這份工作。</p><hr>
 
	    
		
		
	</body>

</html>