<html>
    <head>
	    <meta charset="utf-8" />
	    <title>工作相關</title>
	</head>
	<body>
	    <body background="https://png.pngtree.com/background/20210716/original/pngtree-pink-yellow-clouds-cute-baby-background-picture-image_1342434.jpg">
	    <p><h1 align="middle">工作相關</h1></P><hr>
        <p><h3>興趣何輪碼</h3></P>
		<img src="https://www1.pu.edu.tw/~s1101736/abouta/1" width="700" height="500" align="left"> 
		<img src="https://www1.pu.edu.tw/~s1101736/abouta/2" width="700" height="500" align="right"> <hr>
		
		<p><h3>軟體工程師</h3></P>
		<p><h4>工作內容</h4></P>
		<ul>
		   <li>.程式開發
           <li>系統測試
           <li>系統維護
           <li>文件撰寫
           <li>使用者教育訓練
           <li>專案執行
           <li>主管交辦事項
		</ul>
		
		<p><h4>職務類別</h4></P>
		<ul>
		   <li>MIS程式設計師
           <li>軟體設計工程師
		</ul>
		
		<p><h4>公司類別</h4></P>
		<ul>
		   <li>億豐綜合工業股份有限公司
		   <li>緯創資通股份有限公司
		   <li>開元通訊股份有限公司
		</ul>
		
	</body>

</html>



